*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.pth
.pytype/
git_rewrite_commit_history.sh

# Setuptools distribution and build folders.
/dist/
/build
keys/
stable_baselines3/common/models/*
stable_baselines3/common/wandb/*

# Virtualenv
/env
/venv


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache
*.lprof
*.prof

MUJOCO_LOG.TXT
